* {
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'poppins';
    scroll-behavior: smooth;
    max-width: 100%;
    font-family: "poppins";

}

body {
    color: #000;
    background-color: #F3F2F2;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 2px solid #F94248;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 3rem;
    justify-content: space-between;
}

.nav-links {
    transition: 0.7s ease;
    color: #000;
    font-size: 16px;
    font-weight: 400;
}

.hambuger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #F94248;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 27px;
}

.logo {
    color: #000;
    font-size: 33px;
    font-style: italic;
    font-weight: 800;
}

.btn1 {
    border-radius: 15px;
    color: #000;
    padding: 0.2rem 2rem;
    background: #FFF;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.25) inset;
}

.notify {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    opacity: 0.6;
}

.span {
    width: 1px;
    height: 70px;
    background-color: #D9D9D9;
}







/* SECTION 1 */
.sec1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    padding-left: 3rem;
    padding-right: 3rem;
    flex-wrap: wrap;
    background-color: #FFF;
    background: #FFF;
    z-index: 2;
    position: '';
    box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.25);
}

.cont p {
    color: #DF2633;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
}

.cont h1 {
    color: #DF2633;
    font-family: Inter;
    font-size: 90px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.cont h1 span {
    background: linear-gradient(180deg, #DF2633 0%, rgba(232, 180, 183, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Inter;
    font-size: 90px;
    font-weight: 900;
    color: #DF2633;
}

.to-flex {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 10px;
}

.stars {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.stars img {
    width: 20px;
}

.rating {
    color: rgba(0, 0, 0, 0.50);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.content {
    color: rgba(0, 0, 0, 0.80);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    max-width: 400px;
    margin-top: 28px;
}

.btn2 {
    display: flex;
    font-size: 14px;
    gap: 0.5rem;
    border-radius: 20px;
    background: #FFF;
    width: fit-content;
    padding: 0.4rem 2rem;
    margin-top: 25px;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.25) inset;
}

.to-red {
    color: #DF2633;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.cont-img {
    width: 470px;
}











/* SECTION 2 */
.sec2 {
    padding-top: 50px;
    background: #fff;
    border-left: 1px solid #59595954;
    border-bottom: 1px solid #59595954;
    border-right: 1px solid #59595954;
    margin-left: 5rem;
    margin-right: 5rem;
    width: fit-content;
    margin: 0 auto;
    z-index: -1;
    position: relative;
}

.sec2-navbar ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.active- {
    background: #595959;
    color: #fff;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    padding: 0.5rem 2rem;
    line-height: normal;
    box-shadow: 0px 0px 5px 1px rgba(61, 61, 61, 0.25);
}

.non-active {
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    color: #000;
    padding: 0.5rem 2rem;
    background: #FBFBFB;
    box-shadow: 0px 0px 5px 1px rgba(63, 63, 63, 0.25);
}




.shoe1 {
    display: flex;
    justify-content: center;
    padding-right: 7rem;
    padding-left: 7rem;
    align-items: center;
    gap: 146px;
    flex-wrap: wrap;
    margin-top: 64px;
}

.shoe1-img {
    width: 170px;
}

.shoe1 h2 {
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 300px;
}

.shoe1 p {
    color: rgba(0, 0, 0, 0.80);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    max-width: 300px;
    margin-top: 40px;
    background: #FFF;
    padding: 20px 18px;
    box-shadow: 0px 2px 4px 0px rgba(178, 178, 178, 0.25);
}








.shoe2 {
    display: flex;
    justify-content: center;
    padding-right: 7rem;
    padding-left: 7rem;
    align-items: center;
    gap: 146px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.shoe2-img {
    width: 270px;
}

.shoe2 h2 {
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 300px;
}

.shoe2 p {
    color: rgba(0, 0, 0, 0.80);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    max-width: 300px;
    margin-top: 40px;
    background: #FFF;
    padding: 20px 18px;
    box-shadow: 0px 2px 4px 0px rgba(178, 178, 178, 0.25);
}








.shoe3 {
    display: flex;
    justify-content: center;
    padding-right: 7rem;
    padding-left: 7rem;
    align-items: center;
    gap: 146px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.shoe3-img {
    width: 270px;
}

.shoe3 h2 {
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 300px;
}

.shoe3 p {
    color: rgba(0, 0, 0, 0.80);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    max-width: 300px;
    margin-top: 40px;
    background: #FFF;
    padding: 20px 18px;
    box-shadow: 0px 2px 4px 0px rgba(178, 178, 178, 0.25);
}













/* SECTION 3 */
.sec4 {
    margin-top: 32px;
    background: #D9D9D9;
    padding: 3rem 1rem 3rem 1rem;
}

.sec4 h3 {
    color: #000;
    font-family: Inter;
    font-size: 19px;
    font-weight: 500;
    text-align: center;
}

.sec4 p {
    color: rgba(0, 0, 0, 0.70);
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-weight: 300;
    max-width: 400px;
    margin: 15px auto 0 auto;
}

.sec4 button {
    border-radius: 35px;
    background: #FFF;
    border: none;
    margin: 16px auto 0 auto;
    text-align: center;
    display: flex;
    color: #0000004D;
    padding: 0.5rem 9rem 0.5rem 3rem;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.25) inset;
}










/* FOOTER */
.sec5{
    background: #000;
    margin-top: 30px;
}
.footer {
    display: flex;
    justify-content: center;
    margin: 0 3rem 0 3rem;
    gap: 90px;
    align-items: center;
}

.footer li {
    margin-top: 14px;
}

.footer a {
    color: rgba(255, 255, 255, 0.90);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.footer p {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.logo-footer {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.set3{
    margin-top: 25px;
}
.set4{
    margin-top: 40px;
}






































@media (max-width: 800px) {
    .hambuger {
        display: block;
    }

    .hambuger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hambuger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hambuger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .review {
        gap: 3rem;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 80px;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
        padding-bottom: 1rem;
        width: 100%;
        height: 60vh;
        text-align: center;
        transition: 0.3s;
        background-color: #fff;
    }

    .nav-menu.active {
        left: 0;
    }
}